@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
:root{
    /* --width_screen: 100%; */
}
*{
    font-family: "Ubuntu", sans-serif;
    margin: 0;
}
header>#logo{
    display: inline-flex;
    width: 20%;
}
header>nav{
    display: inline-flex;
    width: 50%; 
}
nav>ul>li{
    display: inline;
    list-style: none;
}
header>#searchBar{
    display: inline-flex;
    width: 25%;
}
sup{
    color: aliceblue;
    background-color: red;
    padding: 3px;
    border-radius: 100%;
    font-weight: bolder;
    box-shadow: 5px red;
    opacity: 0.50;
}
#inputBar{
    border: 1px solid black;
    border-radius: 16px;
    padding: 5px 10px;
}
#inputBar>input{
    border: none;
}
main{
    align-content: center;
}
div{
    display: inline-block;
    border: 1px solid black;
}
#rightSection{
    display: inline;
    float: right;
}
#rightSection>h1{
    display: inline;
    font-size: 600%;
    color: orange;
}
#rightSection>h2{
    display: inline-block;
    font-size: 200%;
}
#orderBtn{
    border: 1px solid black;
    border-radius: 16px;
    padding: 10px;
    color: white;
    background-color: black;
}
#watch{
    background-color: whitesmoke;
    color: black;
    padding: 7px 10px 10px 10px;
    border: 1px solid black;
    border-radius: 16px;
}
#watchBtn{
    border: 1px solid whitesmoke;
    color:black;
    background-color: whitesmoke;
}
#leftSection{
    display: inline;
    float: left;
}
#food{
    width: 500px;
    height: auto;
}
@media screen and (max-width: 769px) {
    #rightSection{width: 100%;}
    #leftSection{width: 100%;}
}